.erc_password
.saved-places
auto-save-list/
eshell/
games/
ido.last
places
projectile-bookmarks.eld
projectile.cache
recentf
tmp/
tramp
tutorial/
url/
*.elc
magithub/cache
elpa/
ido.last~
transient
smex-items
